:root {
  --background-color: #f5f5f5;
  --font--color-body: #333333;
  --header-colour: #343a40;
  --font--text-: #ffffff;
  --btn--main: #ff94c2;
  --btn-hover: #e56e94;
  --font-family: 'Raleway', sans-serif;
  --font-size: 24px;
}

body {
  font-family: var(--font-family);

  background-color: var(--background-color);
}
/*currentweather displayed */

/* title names */

.weatherContainer {
  background-color: #d4d3d3;
  border-radius: 10px;
  border: 2px solid #d4d3d3;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
  display: flex;
  justify-content: space-evenly;
}

.weather-data {
  padding: 15px;
  text-align: center;
  border-radius: 10px;

  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
  transition: transform 0.3s ease-in-out;
}

.weather-data {
  transform: scale(1.05);
}

/* currentweather title */
.currentWeatherToday {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

/* currentWeather data */
.cityName {
  font-weight: bold;
  font-size: 15px;
  margin-top: 2.5rem;
}

.cityTemperature {
  font-size: 15px;
  margin-top: 2.5rem;
}
.cityWindSpeed {
  font-size: 15px;
  margin-top: 2.5rem;
}
.cityHumid {
  font-size: 15px;
  margin-top: 2.5rem;
}

/* historical data section */

.historicalData {
  padding: 20px;
  border-radius: 10px;
  background-color: #d4d3d3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
  padding: 25px;
}

.historicalData h4 {
  color: black;
}

.historicalCards {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
}

/* five day weather cards  */

.WeatherForecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.cardLayout {
  background-color: #d4d3d3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
  text-align: center;
  border: 2px solid #d4d3d3;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 5px;
}

.card {
  height: 100px;
  width: 250px;
}
.card-body {
  padding: 30px;
}

/* Error message displayed */
.alert-container {
  z-index: 11;
}
